.header {
     
    border-bottom: 1px grey solid;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding : 30px 10px;

    ul {
        list-style-type: none;
        display: flex;
        li {
            margin-left: 10px; 
            margin-right: 10px;
        }
    }

    .logo-left img {
        height: 30px;
    }
}

#Accueil{
    background-image: url(/style/img/appointment-at-psychologist.jpeg);
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 400px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; 
    margin-top: 40px;
    
    
    .accueil-text-content {
        background-color: white;
        position: absolute;
        width: 408px;
        right: 101px;
        bottom: -15px;
        padding: 20px;
    }
}

#Présentation {
    margin-top: 152px;
}