body {
    //background-color: rgb(244, 244, 244);
    margin: 0 auto;
    width: 100%;
}

footer {
    margin: 0 auto;
    width: 100%;
    color: white; 
}


.bigass {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 30px;
    margin: 0;

    //color: $secondary;
}

.purplebg {
    background-color: $purple2;
    box-shadow: 0 0 0 100vmax $purple2;
    clip-path: inset(0 -100vmax);
}

.bigasshr {
    margin-top: 40px;
    margin-bottom: 40px; 
    height: 3px;
    background: $purple2;
    border: none;
    display: none;
}

h2 {
    text-transform: uppercase;
}

* {
    font-family: 'Lato', sans-serif;

}

a {
    text-decoration: none;
    color: $secondary;
    &:hover {
        color: $secondary-hover;
    }
}

main , header {
    padding-left: 5%;
    padding-right: 5%;
}

.article-content {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
}
.article-flex-container {
    display: flex;
    justify-content: center;
}