body {
    background-color: rgb(244, 244, 244);
}

.bigass {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 30px;
    margin: 0;
    //color: $secondary;
}

* {
    font-family: 'Lato', sans-serif;

}

a {
    text-decoration: none;
    color: $secondary;
    &:hover {
        color: $secondary-hover;
    }
}

main , header {
    padding-left: 70px;
    padding-right: 70px;
}