.span-box {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    
    .left-span {
        margin-right: 40px;
        img {
            width: 80px;
        }
    } 

    .span-title {
        font-weight: 900;
        font-style: italic;
        text-transform: uppercase;
    }
}