$primary : rgb(21, 21, 21);
$secondary : #653E8C; 
$tertiary : #F2E530;
$purple2: #914ad9;
$background : #e6e2b4;
$primary-hover : lighten( $primary, 30% ); 
$secondary-hover : lighten($secondary, 50%); 
$tertiary-hover : lighten($tertiary, 30%);



